<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Param</title>
</head>
<body>
<h1>Param</h1>

<!--test servlet api-->
<a th:href="@{/param/servlet(username='admin')}">Test Servlet Api</a>
<br>
<!--test param-->
<a th:href="@{/param/param(username='admin')}">Test Param</a>
<br>
<!--test params-->
<a th:href="@{/param/param(name='n1',name='n2',name='n3')}">Test Params</a>
<br>
<!--test RequestParam-->
<a th:href="@{/param/requestParam(user='user')}">Test RequestParam</a>
<br>
<!--test RequestHeader-->
<a th:href="@{/param/requestHeader}">Test RequestHeader</a>
<br>
<!--test CookieValue-->
<a th:href="@{/param/cookieValue}">Test CookieValue</a>
<br>
<!--test POJO-->
<a th:href="@{/param/pojo(id=1,name='John',password='123456')}">Test POJO</a>
<br>

</body>
</html>