<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Scope</title>
</head>
<body>
<h1>Scope</h1>

<!--test servlet api-->
<a th:href="@{/scope/servlet}">Test Servlet Api</a>
<br>
<!--test ModelAndView-->
<a th:href="@{/scope/mav}">Test ModelAndView</a>
<br>
<!--test Model-->
<a th:href="@{/scope/model}">Test Model</a>
<br>
<!--test Map-->
<a th:href="@{/scope/map}">Test Map</a>
<br>
<!--test ModelMap-->
<a th:href="@{/scope/mm}">Test ModelMap</a>
<br>

</body>
</html>